parameters:
	checkMissingIterableValueType: false
	customRulesetUsed: false
	dynamicConstantNames:
		- WP_CLI
	level: max
	bootstrapFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- tests/phpstan/bootstrap.php
	paths:
		- src/
	scanDirectories:
		- packages/pronamic/woocommerce-subscriptions/
		- wp-content/
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
	ignoreErrors:
		-
			message: '#Access to protected property WC_Order::\$id\.#'
			path: %currentWorkingDirectory%/src/WooCommerce.php
		-
			message: '#Access to protected property WC_Subscription::\$order\.#'
			path: %currentWorkingDirectory%/src/WooCommerce.php
		-
			message: '#Access to an undefined property WC_Order::\$(order_date|order_key|order_total|shipping_total|status|total_tax)\.#'
			path: %currentWorkingDirectory%/src/WooCommerce.php
		-
			message: '#Access to an undefined property WC_Subscription::\$payment_gateway\.#'
			path: %currentWorkingDirectory%/src/WooCommerce.php
		-
			message: '#Strict comparison using === between null and (int|float|string) will always evaluate to false\.#'
			path: %currentWorkingDirectory%/src/WooCommerce.php
